body {
  font-family: sans-serif;
}

.home {
  background-image: url("./assets/background.jpg");
  background-size: cover;
  height: 115vh;
  position: relative;

  justify-content: center;
}

.ui.icon.button {
  margin-top: 5px;
}

.team {
  margin-bottom: 0px;
  margin-top: 490px;
}
.cookie {
  border-radius: 25px;
}

.logo {
  margin-bottom: -5%;
  border-radius: 25px;
}

.run {
  height: 50px;
}

.slogan {
  margin-top: 50%;
  margin-bottom: 50;
}

.test {
  background-color: white;
}

i {
  float: right;
}

.ui .cards {
  margin: 10px;
}

.logoff {
  margin-bottom: 15%;
}

.topcards {
  column-gap: 3rem;
  position: relative;
  left: 80px;
}

.cal {
  position: relative;
  left: 200px;
}

.todo {
  margin-top: 5%;
  left: 190px;
  bottom: 213px;
}

.article {
  position: relative;
  right: 50px;
}

.graph3 {
  position: relative;
  right: 130px;
  bottom: 200px;
}
